*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: gray;
color: black;
}
body{
	background-color:whitesmoke;
	color: black;
}
.glyphicon{
	font-size: 30px;
	color:black; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: black;
}
.navbar-brand, .navbar-brand a{
font-size: 30px;
float:none;

}
.navbar-brand a{
	color:black;

}
.navbar-brand a:hover{
	opacity: 50%;
	text-decoration: none;
}
